body {
    margin: 0;
    padding: 0;
    background-color: #fffbe6;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    background-color:#a86201; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 40px;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo {
    height: 60px;
    border-radius: 5px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 30px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap: 50px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 25px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
}
.right-links a:hover {
    color: darkorange;
}


.container {
    display: flex;
    height: calc(100vh - 100px);
}


.left-box {
    flex: 1;
    background: linear-gradient(135deg, gold, #b8860b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    width: 250px;
    height: 250px;
    background: white;
    clip-path: polygon(
        25% 5%, 75% 5%, 100% 50%, 
        75% 95%, 25% 95%, 0% 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #c5c20c;
    font-size: 22px;
}


.right-box {
    flex: 1;
    padding: 60px;
    
}

.title {
    font-size: 32px;
    color: #adb80b;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}


.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.form input {
    margin-top: 5px;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.form input:focus {
    border-color: #b8860b;
}
.btn {
    margin-top: 20px;
    padding: 12px;
    background: #ebdd63;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #e6e20c;
}
